/**
 * This file uses Green Bitcons Icons (*.png);
 * no changes were made to the original files
 *
 * All *.png files are:
 *
 * Author: Some Random Dude ( http://somerandomdude.com/ )
 * License: CC Attribution-ShareAlike 3.0 United States ( https://creativecommons.org/licenses/by-sa/3.0/us/ )
 * Commercial usage: Allowed
 * Source: https://www.softicons.com/toolbar-icons/green-bitcons-icons-by-some-random-dude/ ( as per March 28, 2011 )
 */

input.add {
background-image: url('/static/file/green/32x32/add.png');
}

input.back {
background-image: url('/static/file/green/32x32/back.png');
}

input.camera {
background-image: url('/static/file/green/32x32/camera.png');
}

input.close {
background-image: url('/static/file/green/32x32/close.png');
}

input.delete {
background-image: url('/static/file/green/32x32/trash.png');
}

input.edit {
background-image: url('/static/file/green/32x32/edit.png');
}

input.home {
background-image: url('/static/file/green/32x32/home.png');
}

input.open {
background-image: url('/static/file/green/32x32/newwindow.png');
}

input.save {
background-image: url('/static/file/green/32x32/save.png');
}

input.tools {
background-image: url('/static/file/green/32x32/tools.png');
}

input.upload {
background-image: url('/static/file/green/32x32/upload.png');
}

.topnav input.camera {
background-image: url('/static/file/green/64x64/camera.png');
}

.topnav input.close {
background-image: url('/static/file/green/64x64/close.png');
}

.topnav input.edit {
background-image: url('/static/file/green/64x64/edit.png');
}

.topnav input.home {
background-image: url('/static/file/green/64x64/home.png');
}

.topnav input.lock {
background-image: url('/static/file/green/64x64/lock.png');
}

.topnav input.tools {
background-image: url('/static/file/green/64x64/tools.png');
}

.topnav input.upload {
background-image: url('/static/file/green/64x64/upload.png');
}
